@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Mozilla Text", ui-sans-serif, system-ui, sans-serif;
  --text-xxs: 0.625rem;
  --text-xxs--line-height: calc(1 / 0.625);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mozilla Text", ui-sans-serif, system-ui, sans-serif;
}

#storybook-root {
  padding: 0 !important;
  margin: 0 !important;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
